<div class="container-fluid" ng-show="!userCanEdit">
    <div class="row">
        <div class="col-xs-12">
          <div class="alert alert-danger">
            <i class="fa fa-exclamation-triangle fa-3x float-left" aria-hidden="true"></i>

            You do not have permission to perform this action. Please login to continue.
          </div>
        </div>
    </div>
</div>
<div class="container-fluid" ng-controller="<%= objectName %>Controller" ng-form="<%= objectName %>Form" ng-show="userCanEdit">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <p class="lead"><span ng-show="!CanDelete(<%= objectName %>.<%= extensionName %>Id)">Create</span><span ng-show="CanDelete(<%= objectName %>.<%= extensionName %>Id)">Update</span> Item</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-info" ng-show="HasSuccess">
                <h4>Well done!</h4>
                <p>The <%= objectName %> was successfully saved!</p>
                <p>
                  <button type="button" class="btn btn-success btn-space" ng-click="goToPage('<%= objectName %>s')">
                    <i class="fa fa-arrow-left" aria-hidden="true"></i>
                    Go Back
                  </button>
                </p>
            </div>
            <div class="alert alert-danger" ng-show="HasErrors">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>Oh snap!</strong> An error occurred. Please try again, or contact the website administrator.
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group" ng-class="{ 'has-error error' : <%= objectName %>Form.title.$invalid && !<%= objectName %>Form.title.$pristine }">
                <label for="title">Title *</label>
                <input type="text" name="title" ng-model="<%= objectName %>.Title" ng-required="true" class="form-control" placeholder="Title" maxlength="100" required ng-trim />
                <p class="help-block" ng-show="<%= objectName %>Form.title.$invalid && !<%= objectName %>Form.title.$pristine">
                    Title is required.
                </p>
            </div>
            <div class="form-group" ng-class="{ 'has-error error' : <%= objectName %>Form.description.$invalid && !<%= objectName %>Form.description.$pristine }">
                <label for="description">Description *</label>
                <textarea name="description" ng-model="<%= objectName %>.Description" ng-required="true" class="form-control" placeholder="Description" maxlength="1000" required ng-trim></textarea>
                <p class="help-block" ng-show="<%= objectName %>Form.description.$invalid && !<%= objectName %>Form.description.$pristine">
                    Description is required.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="float-right">
          <button type="button" class="btn btn-default btn-space mr-2" ng-disabled="<%= objectName %>Form.$invalid" ng-click="Update<%= extensionName %>()">
            <i class="fa fa-floppy-o" aria-hidden="true"></i>
            Save Changes
          </button>
          <button type="button" class="btn btn-default btn-space mr-2" ng-click="Delete<%= extensionName %>(<%= objectName %>.<%= extensionName %>Id)" ng-show="CanDelete(<%= objectName %>.<%= extensionName %>Id)">
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            Delete
          </button>
            <button type="button" class="btn btn-default btn-space mr-2" ng-click="goToPage('<%= objectName %>s')"><i class="fa fa-arrow-left" aria-hidden="true"></i> Cancel</button>
        </div>
    </div>
</div>

<script type="text/ng-template" id="Delete<%= extensionName %>Modal.html">
    <div class="modal-header">
        <h3 class="modal-title">Please Confirm</h3>
    </div>
    <div class="modal-body">
        <div class="modal-form-container-sm">
            <div class="row">
                <div class="col-xs-12">
                    <p>Are you sure you want to delete this?</p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <div class="modal-form-container-sm">
            <div class="row">
                <div class="col-xs-12">
                    <div class="btn-toolbar pull-right">
                        <button class="btn btn-sm btn-danger btn-space mr-2" type="button" ng-click="ok()"><i class="fa fa-trash-o" aria-hidden="true"></i> Delete</button>
                        <button class="btn btn-sm btn-default btn-space mr-2" type="button" ng-click="cancel()">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
