@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable<<%= fullNamespace %>.Models.<%= extensionName %>Info>>

@using System.Text.RegularExpressions
@using DotNetNuke.Framework.JavaScriptLibraries
@using DotNetNuke.Web.Mvc.Helpers
@using DotNetNuke.Web.Client.ClientResourceManagement
@using DotNetNuke.Web.Client.Providers


@{
    var defaultJsPriority = 100;

    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~" + ViewBag.ModulePath + "Scripts/dist/runtime.js", defaultJsPriority, DnnFormBottomProvider.DefaultName);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~" + ViewBag.ModulePath + "Scripts/dist/polyfills.js", defaultJsPriority, DnnFormBottomProvider.DefaultName);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~" + ViewBag.ModulePath + "Scripts/dist/styles.js", defaultJsPriority, DnnFormBottomProvider.DefaultName);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~" + ViewBag.ModulePath + "Scripts/dist/vendor.js", defaultJsPriority, DnnFormBottomProvider.DefaultName);
    ClientResourceManager.RegisterScript(Dnn.DnnPage, "~" + ViewBag.ModulePath + "Scripts/dist/main.js", defaultJsPriority, DnnFormBottomProvider.DefaultName);

    var moduleProperties = Dnn.ActiveModule.ModuleTitle;
}


<script type="text/javascript" language="javascript">
    var appPortalId = parseInt('@ViewBag.PortalId');
    var appModuleId = parseInt('@ViewBag.ModuleId');
    var appModuleName = '<%= extensionName %>'; @* Manifest: desktopModule > moduleName *@
    var templatePath = '@ViewBag.ModulePath';
    var pageUrl = window.location.href;
</script>

<base href="@Request.RawUrl" />

<app-root>
  <p>Loading...</p>
</app-root>
